extends layout

block content
  .jumbotron
    h1.
      #{title}
      
  table.table.table-hover
    thead
      tr
        th #
        | 
        th Alpaca Name
        | 
        th Alpaca Sex
        | 
        th Alpaca Type
        | 
        th Alpaca Colour
        | 
        th Options
    tbody
      each alpaca, i in alpacalist
        tr(id= alpaca.name)
          td #{i+1}
          | 
          td #{alpaca.name}
          |  
          td #{alpaca.sex}
          |  
          td #{alpaca.type}
          | 
          td #{alpaca.colour}
          | 
          td
            .btn-toolbar
              button.btn.btn-sm.btn-primary(onClick="ALPACA.detailsAlpaca('#{alpaca.name}')") More Info
              button.btn.btn-sm.btn-danger(onClick="ALPACA.deleteAlpaca('#{alpaca.name}')") Delete
          
          
